/* =======================  Standard Responsive Media Query ==================== */
/* ======================= Desktop ===========================*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .menu li a {
    padding: 16px;
    }
}
/* ========================= Tablet Landscape =========================*/
@media and (max-width: 991px) {
}
/* ========================= Tablet Portrait =========================*/
@media (min-width: 768px) and (max-width: 991px) {
}
/* =================== Small smart Phone: 320px=======================*/
@media only screen and (max-width: 767px) {
}
/* =================== Big smart Phone or Mobile Vertical Layout: 488px ===============*/
@media only screen and (min-width: 488px) and (max-width: 767px) {
}