/* ================== variable ================ */
$font: Helvetica, sans-serif;
$theme-color: #22D18D;
$nav-bg-color:#3498DB;
$white-color:#fff;
$black-color:#333;
/* footer */
$footer-font-color:#ccc;
$footer-bg-color:#333333;
$footer-top-color:#333333;
$footer-bottom-color:#292929;
$activity-bg-color:#3C3C3B;

